.blog {
  padding: 90px 0 100px;
}

.blog__title {
  line-height: 1.5;
  margin-bottom: 5px;
}

.blog__caption {
  text-align: center;
  margin: 0 auto 55px;
  max-width: 569px;
}

.blog__item {
  display: flex;
  border: 2px solid #eeeeee;
  transition: 0.3s;
}

.blog__slider {
  padding-bottom: 60px;
}

.swiper-slide {
  .blog__item {
    opacity: 0.5;
  }
}

.swiper-slide-active {
  .blog__item {
    border: 2px solid #ffffff;
    box-shadow: 15px 25px 60px -10px rgba(0, 0, 0, 0.1);
    opacity: 1;
  }
}

.blog__item-img {
  width: 48%;
  object-fit: cover;
}

.blog__item-inner {
  width: 52%;
  padding: 45px 30px;
}

.blog__item-title {
  line-height: 1.5;
  margin-bottom: 20px;
}

.blog__item-meta {
  display: flex;
  list-style: none;
  gap: 35px;
  margin-bottom: 22px;
  font-size: 14px;
}

.blog__item-reactions {
  display: flex;
  align-items: center;
}

.blog__item-meta-text {
  font-size: 11px;
  font-family: "Gilroy-Medium";
  margin-left: 7.5px;
  color: #888888;
}

.blog__item-text {
  font-size: 15px;
  font-family: "Gilroy-Medium";
  margin-bottom: 26px;
}
